@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/material-design-icons-iconfont/dist/material-design-icons.css";
@import '../node_modules/@swimlane/ngx-datatable/index.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/bootstrap.css';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';
body {
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.5;
  color: #4E565A;
  text-align: left;
  background-color: #F5F7FA;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
